{
    "tabWidth": 2,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                ".eslintrc"
            ],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}